@page
@model Controls.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>

    <dl class="row">
        <dt class="col-sm-2">
            <h3>Details of Client</h3>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.locator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.sub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.sub)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.publicKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.publicKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.purpose)
        </dd>
    </dl>
</div>
<a href="~/Requests/Create?id=@Html.DisplayFor(model => model.Client.locator)">
    <button type="submit"  value="@Html.DisplayFor(model => model.Client.locator)">
        Create a doi to give Patient
    </button>
</a>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.locator">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
